{% extends 'web/home.html' %}

{% block title %}Меню{% endblock %}

{% block content %}
<div class="heder_menu">
    <div class="mn">
        <div class="menus">
            <h1 class="men">Меню</h1>
            <a href="cart/" class="adds">Корзина</a>
            {% if user.is_superuser %}
            <a href="adda" class="add">Добавить</a>
            {% endif %}
            <div class="poisk">
                <div class="nav-item active col-4">
                    <form class="form-inline my-2 my-lg-0" method="post">
                        {% csrf_token %}
                        <div class="searchik form-group">
                            <input type="text" class="form-control" name="search" id="id_search">
                            <!--                    <label for="submit_search" class="button">Поиск</label>-->
                            <input id="submit_search" class="form-control" type="submit" hidden>
                            <label for="submit_search" class="button poiskat">Поиск</label>
                        </div>
                    </form>
                    <form action="cart/" name="delete" method="post">
                        {% csrf_token %}
                        <button type="submit">удалить {{ a }}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="poisktov">
            <div class="tovarchk">
                <div class="razburg">
                    Супы
                </div>
                <div class="sf row">
                    {% if menu %}
                    {% for el in menu %}
                    <div class="tovar col-3">
                        <div class="cart">
                            <a href="{{ el.id }}">
                                <div class="blockdl"><img class="card-img w-119 h-118"
                                                          src="{{ MEDIA_URL }}{{ el.images }}"
                                                          alt=""></div>
                                <a href="{{ el.id }}" class="elname">{{ el.name }}</a>
                            </a>
                            <form class="corz" action="cart/" name="add" method="">
                                <div class="cras">
                                    {% csrf_token %}
                                    <input class="" type="hidden" name="dish_id" value="{{ el.id }}">
                                    <label class="bordertp">
                                        <input class="inpsd" type="number" name="qty" value="{{ menu.id }}">
                                    </label>
                                    <div class="domss"> {{ el.price }}</div>
                                    <button class="cnopochka domms" type="submit"><img class="imgcnop"
                                                                                       src="../static/web/img/w128h1281390856920buy128.png"
                                                                                       alt=""></button>
                                </div>

                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="pusto"> В меню пусто </p>
                    {% endif %}
                </div>
                <div class="razburg nonedec">
                    <a name="Burgza" class="razburg nonedec">
                        Бургеры
                    </a>
                </div>
                <div class="sf row">
                    {% if burg %}
                    {% for le in burg %}
                    <div class="tovar col-3">
                        <div class="cart">
                            <a href="{{ le.id }}">
                                <div class="blockdl"><img class="card-img w-119 h-118"
                                                          src="{{ MEDIA_URL }}{{ le.images }}"
                                                          alt=""></div>
                                <a href="{{ le.id }}" class="elname">{{ le.name }}</a>
                            </a>
                            <form class="corz" action="cart/" method="post">
                                <div class="cras">
                                    {% csrf_token %}
                                    <input class="" type="hidden" name="dish_id" value="{{ le.id }}">
                                    <label class="bordertp">
                                        <input class="inpsd" type="number" name="qty" value="{{ burg.id }}">
                                    </label>
                                    <div class="domss"> {{ le.price }}</div>
                                    <button class="cnopochka domms" type="submit"><img class="imgcnop"
                                                                                       src="../static/web/img/w128h1281390856920buy128.png"
                                                                                       alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="pusto"> В меню пусто </p>
                    {% endif %}
                </div>
            </div>
            <div class="poiscovv">

                <div class="">
                    {% if menus %}
                    <div class="razburg">
                        Найдено
                    </div>
                    {% for ela in menus %}
                    <div class="tovar">
                        <div class="cart">
                            <a href="{{ ela.id }}">
                                <div class="blockdl"><img class="card-img w-119 h-118"
                                                          src="{{ MEDIA_URL }}{{ ela.images }}"
                                                          alt=""></div>
                                <a href="{{ ela.id }}" class="elname">{{ ela.name }}</a>
                            </a>
                            <form class="corz" action="cart/" method="post">
                                <div class="cras">
                                    {% csrf_token %}
                                    <input class="" type="hidden" name="dish_id" value="{{ ela.id }}">
                                    <label class="bordertp">
                                        <input class="inpsd" type="number" name="qty" value="{{ menus.id }}">
                                    </label>
                                    <div class="domss"> {{ ela.price }}</div>
                                    <button class="cnopochka domms" type="submit"><img class="imgcnop"
                                                                                       src="../static/web/img/w128h1281390856920buy128.png"
                                                                                       alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="pusto nosearsh"></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
{% endblock %}

<!--Сеарилизовать все модели чтобы были видны на api root-->