{% extends 'web/home.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="bloccc">
        <div class="bloccccc">
            <img class="imgburg" src="../../static/web/img/bgl.png" alt="">
            <div class="slova">
                <h1 class="BurgS">
                    Burger Special
                </h1>
                <div class="linia"></div>
                <p class="par">
                    Интернет магазин еды, у нас вы можете найти самые <br>
                    вкусные бургеры во всем рукаве Ориона. <br>
                    Не нравятся бургеры? Так закажите что-то другое! <br>
                    Супы, десерты, фаст-фуды, салаты и многое другое <br>
                </p>
                <h1 class="Wh"> Закажите, мы вас ждем!!! </h1>
            </div>
        </div>
        <div class="infoshka">
            <div class="info">instagram: <a href="https://www.instagram.com/sultan.tlbkv/">Sultan.tlbkv</a></div>
            <div class="info">github: <a href="https://github.com/TalaibekovSultan">TalaibekovSultan</a></div>
            <div class="info">telegram: <a href="https://t.me/katana_tlbkv">Katana</a></div>
        </div>
    </div>
{% endblock %}